.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.is-hidden {
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(100%) !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    visibility: hidden !important;
    pointer-events: none !important;
}

.pp-overflow {
    body {
        overflow: hidden;
    }
}

/*Fonts*/
.h1 {
    margin: 0;
    font-family: @font1;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: @text-primary;
}

.h2 {
    margin: 0;
    font-family: @font1;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    color: @text-primary;
}

.h3 {
    margin: 0;
    font-family: @font1;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: @text-primary;
}

.paragraph-16-regular {
    font-family: @font1;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: @text-secondary;
}

.paragraph-14-regular {
    font-family: @font1;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    color: @text-secondary;
}

.paragraph-12-regular {
    font-family: @font1;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: @text-tertiary;
}

.button-text {
    font-family: @font1;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.caption {
    font-family: @font1;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: @text-tertiary;
}

.check-radio {
    font-family: @font1;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: @text-primary;
}
